@charset "UTF-8";

#changeTitleColor{

background: #6e4a55; /*背景色*/
padding: 0.5em;/*文字周りの余白*/
color: white;/*文字を白に*/
border-radius: 0.5em;/*角の丸み*/
width:21%;

}

a {
  padding: 0 .3em;
  transition: all .3s;
}
a:hover {
  color: #fff;
  background-color: #2ecc71;
}


