@charset "UTF-8";

#bgcolor {
	background:#c5c56a;
	}

.font {
	font-family: 'メイリオ', Meiryo,sans-serif;

}


#changeErrorColor{
	animation: change 0.5s infinite linear;
}


@keyframes change{
	0%    {color:#000000;}
    50%   {color:#ff0000;}
    100%  {color:#000000;}
}

